<%- include('../partials/head.ejs') %>

  <h1>Hi <%= data.username %></h1>
  <p>Hoe is het in <%= data.homeTown %></p>
  <p>Nog steeds bereikbaar op <%= data.mail %>?</p>
  <p>Met je mooie wachtwoord: <%= data.password %>?</p>

  <a href="/dashboard/chat">Ga naar chat</a>
  <a href="/account/logout">Uitloggen</a>

<%- include('../partials/head.ejs') %>
