<%- include('../partials/head.ejs') %>

<main>

  <h1>Settings</h1>
  <p>Settings komen op deze pagina</p>

  <form class="settings_form" method="post">
    <input type="text" name="username" value="<%= data.username %>" />
    <input type="email" name="mail" value="<%= data.mail %>" />
    <input type="text" name="hometown" value="<%= data.homeTown %>" />
    <input type="password" name="password" value="disabled" disabled />
    <input type="submit" value="Opslaan">
  </form>

  <a href="/dashboard/">Terug naar dashboard</a>

</main>

<%- include('../partials/head.ejs') %>
