<%- include('../partials/head.ejs') %>

  <main class="twitter">

    <!-- <section class="allTweets">
      <div>
        <p>
          <%= filters[0] %>: <span class="filterCounter">0</span></p>
      </div>
      <div>
        <p>
          <%= filters[1] %>: <span class="filterCounter">0</span></p>
      </div>
      <div>
        <p>
          <%= filters[2] %>: <span class="filterCounter">0</span></p>
      </div>
      <div>
        <p>
          <%= filters[3] %>: <span class="filterCounter">0</span></p>
      </div>
      <div>
        <p>
          <%= filters[4] %>: <span class="filterCounter">0</span></p>
      </div>
    </section> -->

    <script src="/js/d3.js"></script>

  </main>

  <%- include('../partials/foot.ejs') %>
